@using SocialAuth.Data
@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewBag.Title = "Index";
}

<h2 class="bg-primary m-1 p-1 text-white">Users</h2>

<table class="table table-sm table-bordered">
    <tr>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">Id</a></th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["UserNameSortParm"]">UserName</a></th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]">Email</a></th>
    </tr>

    @foreach (var user in Model)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => user.Id)</td>
    <td>@Html.DisplayFor(modelItem => user.UserName)</td>
    <td>@Html.DisplayFor(modelItem => user.Email)</td>
</tr>
    }
</table>
